* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
}

body {
    background-image: url("/images/bg-01.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    padding: 2%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 550;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.principalProduct {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    margin: 5%;
    flex-direction: column;
}

section {
    flex-basis: 100vw;
    height: 100vh;
    padding: 5%;
}

.popularProduct1 {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.popularProduct2 {
    background-color: red;
}

.new {
    background-color: green;
}

.shop {
    background-color: yellow;
}

.categoryShop {
    background-color: pink;
}