.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    padding: 2%;
    border-bottom: #f4f4f4 0.3px solid;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.account-icon{
    width: 20px;
}
.basket-icon{
    width: 20px;
    height: auto;
}
.mobile-menu-button{
    display: none;
}
@media screen and (max-width: 900px) {
    .left-menu {
        display: none;
    }
    .right-menu {
        display: none;
    }

    .mobile-menu-button {
        display: flex;
        padding: 8px 11px;
    }
}
button{
    background-color: black;
    color: white;
    border: none;
}

.menu-toggle {
    display: none;
}

.mobile-menu-button {
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon svg {
    fill: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-mobile {
    display: none;
}

.menu-toggle:checked ~ .navbar-mobile {
    display: flex;
    flex-basis: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
}

.menu-toggle:checked ~ .navbar .left-menu,
.menu-toggle:checked ~ .navbar .right-menu{
    display: none;
}
.menu-toggle, .mobile-menu-button{
    display: none;
}
@media screen and (max-width: 900px) {
    .mobile-menu-button{
        display: block;
        align-self: flex-end;
    }
}
.navbar-mobile ul li a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black; 
}
.navbar-mobile ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.navbar-mobile ul li {
    width: 100%;
    padding: 20px;
}