*{
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: serif;
}
body{
    background-image: url("/images/bg-01.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

header {
    background-color: #fefefe;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100vw;
    height: 8%;
}

nav{
    container: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.nav-shop{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.nav-info{
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}
button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.principalProduct{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    margin: 5%;
    flex-direction: column;
}

section{
    flex-basis: 100vw;
    height: 100vh;
    padding: 5%;
}

.popularProduct1{
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.popularProduct2{
    background-color: red;
}
.new{
    background-color: green;
}
.shop{
    background-color: yellow;
}
.categoryShop{
    background-color: pink;
}
